/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 9 de abr. de 2024, 10:26:03
    Author     : daviferreira
*/

/* 
    Typical Devices Breakpoint 29/01/2024 - W3C

    - Dispositivos extra pequenos: até 600px
    - Tablets em retrato e celulares: 600px até 768px
    - Tablets em Paisagem: 768px até 992px
    - Laptops/Desktps: 992px até 1200px
    - Laptops/Desktops grandes: 1200px para cima

*/

@charset "UTF-8";

@media screen and (min-width: 768px) {
    :root{
        --cor0: #DFEBF2;
        --cor1: #99B1BF;
        --cor2: #356B8C;
        --cor3: #396273;
        --cor4: #0D3140;

        --font-padrao: Arial, Helvetica, Verdana, sans-serif;
    }

    main > div#legenda {
        display: inline-block;
        width: 25vw;
        height: 300px;
        float: left;
        transform: translateY(50%);
        text-align: center
    }
    
    main > section#formulario {
        display: inline-block;
        width: 40vw;
        position: absolute;
        float: right; 
    }
    
    section#formulario > form > p {
        text-align: center;
    }
    
    main > section#formulario > form > p > input.campo {
        width: 280px;
    }
}

