/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 6 de abr. de 2024, 22:44:47
    Author     : daviferreira

Criação de estilo css para acervo digital parte mobile - mobilefirst
*/

@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px; 
    font-family: var(--font-padrao);
}

/*Criação de Variaveis na raiz das folhas de Estilo*/
:root{
    --cor0: #DFEBF2;
    --cor1: #99B1BF;
    --cor2: #356B8C;
    --cor3: #396273;
    --cor4: #0D3140;
    
    --font-padrao: Arial, Helvetica, Verdana, sans-serif;
}

header {
    padding: 20px;
    background-color: var(--cor2);
    color: var(--cor0);
}

nav {
    background-color: var(--cor2);
    text-align: center;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.4);
}

nav > a {
    text-decoration: none;
    color: var(--cor0);
    margin-right: 20px;
    padding: 10px;
    border-radius: 5px;
}

nav > a:hover {
    background-color: var(--cor0);
    color: var(--cor4);
}

main {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor0);
    
}

main > section > form {
    text-align: center;
    padding-top: 30px;
}

main > section > form > h4 {
    padding: 5px;
    color: var(--cor4);
}

main > section > form > p > input {
    width: 400px;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--cor1);
}



